<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="handler.id">djvu:html5</entry>
<entry key="handled.mime.types">image/x.djvu</entry>
<entry key="handles.secured">false</entry>
<entry key="handles.normal">true</entry>
<entry key="overrides.browser">false</entry>
</properties>