body {
	margin: 0px;
}

#djvuContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

.toolbar {
	display: inline-block;
	padding-top: 10px;

	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transition: transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
}

.toolbarHidden {
	transform: translate(0, -100%);
	-webkit-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	transition: transform 1s;
	-webkit-transition: transform 1s;
}

.toolbarSquareButton {
	float: left;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
}

.scrollbar {
	position: absolute;
	border-radius: 6px;
	opacity: 0.6;
	box-shadow: inset 0 0 0 1px black, inset 0 0 0 2px white, inset 0 0 0 10px #BBB;
	transition: opacity 0.3s;
}

.scrollbarHidden {
	opacity: 0;
	transition: opacity 0.6s;
}

.scrollbarVertical {
	right: 0px;
	border-right: 1px solid transparent;
	width: 13px;
}

.scrollbarHorizontal {
	bottom: 0px;
	border-bottom: 1px solid transparent;
	height: 13px;
}

.content {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
}

.buttonZoomIn {
	background-image: url("img/zoom-in.png");
}

.buttonZoomOut {
	background-image: url("img/zoom-out.png");
}

.buttonPagePrev {
	background-image: url("img/page-prev.png");
}

.buttonPageNext {
	background-image: url("img/page-next.png");
}

.toolbarItem {
	display: inline-block;
	margin: 0 10px;
}

.comboBox {
	float: left;
	position: relative;
}

.comboBoxSelection {
	width: 8.25ex;
	margin: 10px 12px 0px 12px;
}

.comboBoxText {
	width: 5ex;
	border: none;
	padding: 0px;
	outline: none;

	position: absolute;
	margin: 10px 0px 0px 12px;
	top: 2px;
	left: 3px;
}

.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 128px;
	height: 128px;
	margin: -72px 0 0 -64px;
	background-image: url("img/loading.png");
	background-repeat: no-repeat;
}