body {
	margin: 0px;
}

#djvuContainer {
	width: 100%;
	height: 100%;
}

.toolbar {
	overflow: hidden;
	position: absolute;
	height: 1cm;
	top: 0px;
	width: 100%;
}

.content {
	overflow: hidden;
	position: absolute;
	top: 1cm;
	bottom: 0px;
	width: 100%;
}

.toolbarSquareButton {
	width: 1cm;
	height: 1cm;
}